* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #ecf0f1;
    --text-color: #2c3e50;
    --accent-color: #e74c3c;
  }

  pre {
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
    white-space: -o-pre-wrap; 
    word-wrap: break-word; 
  }

.flex {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 2rem;
}

.flex-center {
    justify-content: center;
}

.main-links {
    width: 200px;
    height: 150px;
    color: var(--text-color);
    margin: 10px;
}

nav {
    justify-content: space-between;
    padding: 2%;
    color: var(--accent-color);
}

#nav-options a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--text-color);
    border-radius: 5px;
    margin-right: 4px;
    transition: color 0.5s ease;
}

#nav-options a:hover {
    color: var(--accent-color);
}


.active-span {
    color: var(--accent-color) !important; 
    font-weight: 700;
    transition:  color 0.3s, font-weight 0.3s; 
  }

.header {
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover; 
    opacity: .7;
  }
  
  .content {
    position: relative;
    z-index: 1;
  }
  

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    color: var(--text-color);
    font-size: 1.2em;
}

.user-info h1 {
    margin-bottom: 2rem;
    color: var(--accent-color);
}

.cv_container {
    display: flex;
    gap: 4rem;
    margin-top: 1.5rem;
}

.cv_container a {
    color: var(--accent-color);
    opacity: .7;
    transition: transform 0.3ms;
}

.cv_container a:hover {
    opacity: 1;
    transform: scale(1.1);
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.center {
    justify-content: center;
    text-align: center;
}

.field-form {
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #ccc;
    width: 250px;
    margin: 5px 0;
}

.project-container {
    border: 2px solid #e74d3cc0;
    border-radius: 1em;
    transition: box-shadow .5s;
    max-width: 40%;
}

.project-container:hover {
    box-shadow:  0 4px 6px var(--text-color);
    cursor: pointer;
}

.project-link {
    display: block;
    color: inherit;
    text-decoration: none;
}

.project-link:focus, .project-link:active {
    outline: none; 
    text-decoration: none; 
}

.project-container button {
    border: none;
    background: transparent;
    color: var(--accent-color);
    transition: text-decoration .3s;
}

.project-container button:hover {
    text-decoration: underline;
}


#btn-msg {
    color: black;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    padding: 10px 15px;
}



.loadingState {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  
  .loadingState i {
    opacity: 0.2;
    font-size: 3rem;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media (max-width: 650px) {
    .flex {
        flex-direction: column;
    }

    #nav-options a {
        font-size: 0.75em;
    }
}